
<!DOCTYPE html>
<html>
  <head>
    <title>MyRailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
    <a href="https://validator.w3.org/?doc=web9.cs.ait.ac.th">Syntax Validation</a></br>
   </footer>
  </body>
</html>
